.footer {
    width: 100%;
    background: #fafafa;
    border-top: 3px solid #ECECEC;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transition: .5s all ease;
    transition-delay: .6s;
    &__mob {
        display: none;
    }
    &__desktop {
        width: 100%;
        .container {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .cont {
                display: flex;
                flex-direction: column;
                align-items: center;
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .footer__item {
                h3 {
                    font-size: 20px;
                    letter-spacing: 0.135em;
                    text-transform: uppercase;
                    font-weight: normal;
                    color: #323232;
                }
                ul {
                    margin-top: 2rem;
                    list-style: none;
                    height: 300px;
                    li {
                        margin-bottom: 1rem;
                        a {
                            font-size: 16px;

                            letter-spacing: 0.035em;

                            color: #6A6A6A;
                            transition: .3s all ease;
                            &:hover {
                                color: $orange;
                            }
                        }
                    }
                }
                .footer__link {
                    margin-top: 4rem;
                    a {
                        font-size: 20px;
                        font-weight: normal;
                        letter-spacing: 0.135em;
                        text-transform: uppercase;

                        color: #323232;
                        transition: .3s all ease;
                        &:hover {
                            color: $orange;
                        }
                    }
                }
                .footer__contacts {
                    margin-top: -10rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding: 1rem 0 1rem 1rem;
                    .tel {
                        a {
                            font-size: 20px;
                            letter-spacing: 0.135em;
                            text-transform: uppercase;

                            color: #252525;
                        }
                    }
                    .workflow {
                        font-size: 16px;
                        letter-spacing: 0.035em;

                        color: #A0A0A0;
                    }
                    .socials {
                        margin-top: 2rem;
                        display: flex;
                     
                        a {
                            height: 46px;
                            width: 46px;
                            border: 1px solid #2B2B2B;
                            margin: 6px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: .3s all ease;
                            svg {
                                transition: .3s all ease;
                                path {
                                    transition: .3s all ease;
                                }
                            }
                            &:hover {
                                border: 1px solid $orange;
                                svg {
                                    path {
                                        fill: $orange;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.post_footer {
    padding: 1rem 0;
  .container {
      display: flex;
      justify-content: space-between;
      .post_footer-wrapper {
          width: 60%;
          display: flex;
          justify-content: space-between;
          p {
            font-size: 16px;
            
            letter-spacing: 0.035em;
            
            color: #A0A0A0;
            margin: 0;
          }
          a {
            font-size: 16px;
            
            letter-spacing: 0.035em;
            
            color: #A0A0A0;
            transition: .3s all ease;
            &:hover {
                color: $orange;
            }
          }
      }
      .post_footer-right {
          width: 40%;
          justify-content: flex-end;
      }
      .cards {
          display: flex;
          align-items: center;
      }
  }  
}
@media (max-width: 1450px) {
    .post_footer {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .post_footer-wrapper {
                width: 60%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                  font-size: 12px;
                  
                  letter-spacing: 0.035em;
                  
                  color: #A0A0A0;
                }
                a {
                  font-size: 12px;
                  
                  letter-spacing: 0.035em;
                  
                  color: #A0A0A0;
                  transition: .3s all ease;
                  &:hover {
                      color: $orange;
                  }
                }
            }
            .post_footer-right {
                width: 40%;
                justify-content: flex-end;
                align-items: center;
            }
            .cards {
                display: flex;
                align-items: center;
            }
        }  
      }
}
@media (max-width: 1400px) {
    .footer {
        &__desktop {
            .container {
                width: 98%;
                .footer__item {
                    h3 {
                        height: 50px;
                        font-size: 16px;
                    }
                    .footer__link {
                        a {
                            font-size: 16px;
                        }
                    }
                }
                .cont {
                    align-items: start;
                    ul {
                        align-items: start;
                        li {
                            justify-content: start;
                        }
                    }
                    .footer__contacts {
                        align-items: start;
                    }
                }
            }
        }
    }
}
@media (max-width: 1100px) {
    .footer {
        &__desktop {
            display: none;
        }
        &__mob {
            display: block;
            .container {
                width: 80%;
                display: flex;
                // justify-content: space-around;
                flex-wrap: wrap;
            }
            .footer__item {
                padding-left: 10%;
                width: 50%;
                display: flex;
                flex-direction: column;
                padding-top: 5%;
                h3 {
                    font-size: 20px;
                    height: 60px;
                    letter-spacing: 0.135em;
                    text-transform: uppercase;
                    font-weight: normal;
                    color: #323232;
                }
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    margin-top: 5%;
                    li {
                        a {
                            font-size: 20px;
                            line-height: 42px;
                            letter-spacing: 0.035em;

                            color: #6A6A6A;
                            transition: .3s all ease;
                            &:hover {
                                color: $orange;
                            }
                        }
                    }
                }
            }
        }
        .footer__mob_container {
            .footer__links {
                padding-top: 1rem;
                padding-bottom: 1rem;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .footer__link {
                    font-size: 20px;
                    width: 50%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    letter-spacing: 0.135em;
                    text-transform: uppercase;
                    margin-top: 30px;
                    color: #323232;
                }
            }
        }
        .footer__contacts {
            margin-top: 4rem;
            .tel {
                a {
                    font-size: 25px;
                    letter-spacing: 0.135em;
                    text-transform: uppercase;

                    color: #252525;
                }
            }
            .workflow {
                font-size: 20px;

                letter-spacing: 0.035em;

                color: #A0A0A0;

            }
            .socials {
                margin-top: 2rem;
                display: flex;
                
                a {
                    height: 46px;
                    width: 46px;
                    border: 1px solid #2B2B2B;
                    margin: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .3s all ease;
                    svg {
                        transition: .3s all ease;
                        path {
                            transition: .3s all ease;
                        }
                    }
                    &:hover {
                        border: 1px solid $orange;
                        svg {
                            path {
                                fill: $orange;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 950px) {
    .post_footer {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .post_footer-wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                padding: 0.5rem 0;
                p {
                  font-size: 12px;
                  text-align: center;
                  letter-spacing: 0.035em;
                  
                  color: #A0A0A0;
                  margin-top: 0.5rem;
                }
                a {
                  font-size: 12px;
                  margin-top: 0.5rem;
                  letter-spacing: 0.035em;
                  text-align: center;
                  color: #A0A0A0;
                  transition: .3s all ease;
                  &:hover {
                      color: $orange;
                  }
                }
            }
            .post_footer-right {
                width: 100%;
                justify-content: flex-end;
                align-items: center;
            }
            .cards {
                display: flex;
                align-items: center;
            }
        }  
      }
}
@media (max-width: 650px) {
    .footer {
        &__mob {
            .container {
                width: 90%;
                display: flex;
                // justify-content: space-around;
                flex-wrap: wrap;
            }
            .footer__item {
                padding-left: 0;
                padding-left: 0;
                width: 100%;
                margin-top: 1rem;
                h3 {
                    font-size: 20px;
                    height: 60px;
                    letter-spacing: 0.135em;
                    text-transform: uppercase;
                    font-weight: normal;
                    color: #323232;
                }
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    margin-top: 0.3rem;
                    li {
                        a {
                            font-size: 20px;
                            line-height: 42px;
                            letter-spacing: 0.035em;

                            color: #6A6A6A;
                            transition: .3s all ease;
                            &:hover {
                                color: $orange;
                            }
                        }
                    }
                }
            }
        }
        .footer__mob_container {
            .footer__links {
                padding-top: 1rem;
                padding-bottom: 1rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                .footer__link {
                    font-size: 20px;
                    width: 100% ;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    letter-spacing: 0.135em;
                    text-transform: uppercase;
                    margin-top: 2rem;
                    color: #323232;
                }
            }
        }
        .footer__contacts {
            margin-top: 4rem;
            .tel {
                a {
                    font-size: 25px;
                    letter-spacing: 0.135em;
                    text-transform: uppercase;

                    color: #252525;
                }
            }
            .workflow {
                font-size: 20px;

                letter-spacing: 0.035em;

                color: #A0A0A0;

            }
            .socials {
                margin-top: 2rem;
                display: flex;
                
                a {
                    height: 46px;
                    width: 46px;
                    border: 1px solid #2B2B2B;
                    margin: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .3s all ease;
                    svg {
                        transition: .3s all ease;
                        path {
                            transition: .3s all ease;
                        }
                    }
                    &:hover {
                        border: 1px solid $orange;
                        svg {
                            path {
                                fill: $orange;
                            }
                        }
                    }
                }
            }
        }
    }
}